{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      {% for video in videos %}
        <div class="col-md-6">
          <div class="container">
            <h1 class="mb-4">
              <a class="nav-link" href="{% url 'video_detail' video.videooo.id%}">{{ video.videooo.title }}</a>
            </h1>
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <video class="embed-responsive-item" controls>
                <source src="{{ video.link }}" type="video/mp4">
                Ваш браузер не поддерживает тег video.
              </video>
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
  </div>
{% endblock %}