{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for video in videos %}
      <h1>{{ video.title }}</h1>
      <div class="container">
        <h1 class="mb-4">Видео</h1>
        <div class="embed-responsive embed-responsive-16by9 mb-3">
          <video class="embed-responsive-item" controls>
            <source src="{{ video.link }}" type="video/mp4">
            Ваш браузер не поддерживает тег video.
          </video>
        </div>
        <p>{{ video.videooo.title }}</p>
      </div>
      <p class="mt-4">Лайки: <span id="likes-{{ video.videooo.likes_count }}">{{ video.videooo.likes_count }}</span></p>
      <p>Дизлайки: <span id="dislikes-{{ video.videooo.dislike_count }}">{{ video.videooo.dislike_count  }}</span></p>

      <div class="mt-4">
        <form action="api/videos/like/{{ video.videooo.id }}/" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Like</button>
        </form>
        <form action="api/videos/{{ video.videooo.id }}/dislike/" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Dislike</button>
        </form>
      </div>

      <form class="mt-4" id="comment-form-{{ video.videooo.id }}" method="POST" action="api/videos/{{ video.videooo.id }}/comment/">
        {% csrf_token %}
        <input type="hidden" name="video_id" value="{{ video.videooo.id }}">
        <div class="form-group">
          <label for="comment-{{ video.videooo.id }}">Оставьте комментарий:</label>
          <textarea class="form-control" name="content" id="comment-{{ video.videooo.id }}" rows="3"></textarea>
        </div>
        <button class="btn btn-danger" type="submit">Отправить</button>
      </form>

      <h2 class="mt-4">Comments</h2>
      <div id="comments-{{ video.videooo.id }}">
        {% for comment in video.videooo.comments.all %}
          <div class="card mb-3">
            <div class="card-header">{{ comment.user.username }}</div>
            <div class="card-body">
              <p class="card-text">{{ comment.content }}</p>
            </div>
          </div>
        {% empty %}
          <p>Пока нет комментариев.</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  
{% endblock %}